.argumenti-mobile {
    display: none;
}

@media only screen and (max-width:600px) {
    .argumenti-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px;
        width: 328px;
        height: 140px;
        border-color: #D9DADD;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .argumenti-mobile-first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .argumenti-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .argumenti-date p {
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #50545E;
    }

    .argumenti-mobile-second {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .argumenti-mobile-third {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }

    .argumenti-trazi-icon:hover {
        cursor: pointer;
    }
}