.hero{
    position: relative;
  }
  
  .hero-text-title{
    color: #00526C !important;
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-size: 55px !important;
    text-transform: none !important;
    width: 800px;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  
  .hero-text-p{
    color: #00526C !important;
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    text-transform: none !important;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 2%;
  }

  .search{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 1216px;
    justify-content: center;
    top: 85%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: 112px;
  }

  .lokacija{
    display: flex;
    flex-direction: column;
    width: 249px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    gap: 12px;
  }

  .smjestaj{
    display: flex;
    flex-direction: column;
    width: 249px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    gap: 12px;
  }

  .datum{
    display: flex;
    flex-direction: column;
    width: 259px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    gap: 12px;
  }

  .gosti{
    display: flex;
    flex-direction: column;
    width: 249px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    gap: 12px;
  }
  
  @media only screen and (max-width: 600px) {
    .hero{
      display: none;
    }
  }