.master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  margin-bottom: 100px;
}

.image {
  width: 1440px;
}

.hero-text-title {
  color: #00526C !important;
  font-family: "Mulish", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-size: 55px !important;
  text-transform: none !important;
  width: 800px;
  position: absolute;
  top: 25%;
  left: 2%;
}

.hero-text-p {
  color: #00526C !important;
  font-family: "Mulish", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  text-transform: none !important;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 2%;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 85%;
}

.novosti {
  width: 1440px;
  height: 735px;
  background-color: #F2F6F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.novosti-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.title-novosti {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.novosti-more-div{
    display: flex;
    flex-direction: row;
    gap: "8px";
    align-items: center
}
.novosti-more-div:hover {
  cursor: pointer;
}

.novosti-more {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #337589;
}

@media only screen and (max-width: 600px) {
  .master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    margin-bottom: 50px;
  }

  .image {
    display: none;
  }

  .search-div {
    position: static;
    transform: none;
    margin-bottom: 200px;
    width: 100%;
    justify-content: center;
    margin-top: 300px;
  }
  .novosti{
    max-width: 100vw;
    height: 624px;
  }
}