.navigation-btn{
    color: #202532 !important;
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    text-transform: none !important;
}