.news-card {
    width: 389px;
    height: 519px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D9DADD;
  }
  .news-img{
    height:215px;
    width:100%;
  }
  .card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:357px;
    height: 16px;
    color: #838791;
    font-size: 12px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
  }
  .news-card-title{
    font-size: 22px;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    width: 357.33px;
    height: 64px;
  }
  .news-card-text{
    width: 357.33px;
    color: #838791;
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    height: 96px;
  }
  .vidi-vise{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    color: #337589;
    font-size: 16px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    width: 357.33px;
    height: 48px;
  }
  .vidi-vise-text{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    width: 96px;
  }
  @media only screen and (max-width: 600px) {
    .news-card{
      width: 258px;
      height: 504px;
    }
    .news-img{
      height:215px;
      width:258px;
    }
    .card-content{
      width: 258px;
      height: 289px;
    }
    .line1{
      width: 234px;
      height: 16px;
    }
    .news-card-title{
      width: 234px;
      height: 58px;
    }
    .news-card-text{
      width: 234px;
      height: 99px;
    }
    .vidi-vise{
      margin-top: 20px;
      width: 234px;
      height: 48px;
    }
    .vidi-vise-text{
      width: 96px;
    }
  }