.tipovi-smjestaja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tipovi-smjestaja-naslov {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 40px;
    width: 1216px;
    color: black;
    margin-top: 80px;
    margin-bottom: 30px;
}

.tipovi-all{
    margin-bottom: 80px;
}

.tipovi {
    width: 1216px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: start;
}

.tipovi-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px 0px 24px;
    gap: 16px;
    background-color: #F2F6F8;
    width: 488px;
    height: 384px;
}

.tipovi-title {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.tipovi-text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #50545E;
}

.tipovi-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #337589;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.tipovi-link:hover {
    cursor: pointer;
}

.arrow-icon-link {
    transform: translateY(2px);
}

.tipovi-div-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 384px;
    width: 250px;
}

.place-carousel {
    display: none;
}
.apartmani-mobile{
    display: none;
}
.turist-place-mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .tipovi-smjestaja {
        width: 100vw;
        overflow-x: hidden;
    }

    .tipovi-smjestaja-naslov {
        width: 360px;
        font-size: 32px;
        align-self: flex-start;
        padding-left: 25px;
    }

    .tipovi {
        flex-direction: column;
        width: 100vw;
    }

    .tipovi-div {
        width: 100vw;
        height: 335px;
        padding: 24px 16px 24px 16px;
    }

    .tipovi-div-cards {
        display: none;
    }

    .tipovi-text {
        width: 90%;
    }

    .place-carousel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apartmani-desktop{
        display: none;
    }
    .apartmani-mobile{
        display: flex;
    }
    .turist-place-desktop{
        display: none;
    }
    .turist-place-mobile{
        display: flex;
    }
}